
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    block-size: 100vh;
    background-image: url('img/register_img.jpg'); 
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    block-size: 100%;
}


.form-container {
    background-color: transparent; 
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 8px transparent;
    text-align: center;
    inline-size: 300px;
}

/* Título */
h1 {
    font-family: 'Yu Gothic', sans-serif;
    color: black;
    margin-block-end: 20px;
}

/* Campos de entrada */
input {
    padding: 10px;
    margin: 10px 0;
    inline-size: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.1); 
    color: white;
}

/* Botão de envio */
button {
    padding: 10px 20px;
    background-color: #e60012; 
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #c4000b;
}

/* Estilo para a label */
label {
    font-size: 16px;
    color: white;
}
